* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #f5f7fa;
  color: #333333;
  line-height: 1.6;
}

.dashboard_main {
  height: 100vh;
  width: 100vw;
  display: flex;
}
.dashboard_main .navbar-section {
  height: 100%;
  width: 15%;
}
.dashboard_main .central-tab {
  height: 100%;
  width: 60%;
}
.dashboard_main .central-tab .stats-tasks {
  display: flex;
  height: 40%;
}
.dashboard_main .central-tab .stats-tasks .stats-section {
  flex: 1;
  height: 100%;
}
.dashboard_main .central-tab .stats-tasks .todo-list {
  flex: 1;
  height: 100%;
}
.dashboard_main .central-tab .requestsection {
  width: 100%;
  height: 60%;
}
.dashboard_main .central-tab .requestsection .requestsection-searchfilter {
  width: 100%;
  height: 10%;
}
.dashboard_main .central-tab .requestsection .requestsection-allrequests {
  height: 90%;
}
.dashboard_main .notifications-graphs {
  width: 25%;
}
.dashboard_main .notifications-graphs .notifications {
  width: 100%;
  height: 40%;
}
.dashboard_main .notifications-graphs .graphs {
  width: 100%;
  height: 60%;
}

.modal-section {
  height: 80vh;
  width: 50vw;
  border: 3px solid red;
  position: absolute;
  top: 40px;
  left: 300px;
  display: none;
}

.todo-list {
  width: 100%;
  font-size: 16px;
  border-radius: 7px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.todo-list .heading-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 7px;
}
.todo-list .heading-section .tasks-todo {
  padding-left: 10px;
}
.todo-list .heading-section .view-all {
  padding-right: 10px;
  color: blue;
}
.todo-list .task {
  width: 100%;
  display: flex;
  padding-top: 10px;
}
.todo-list .task .date-and-time {
  flex: 1;
  padding-left: 10px;
  font-size: small;
}
.todo-list .task .date-and-time .date {
  font-weight: bold;
}
.todo-list .task .date-and-time .time {
  font-weight: lighter;
}
.todo-list .task .task-description {
  flex: 3;
  padding-left: 10px;
}
.todo-list .task-container {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.todo-list .task-container .new-task {
  width: 300px;
  height: 30px;
  display: flex;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
}
.todo-list .task-container .new-task .calendar-icon {
  flex: 1;
  padding-left: 9px;
}
.todo-list .task-container .new-task .add-new-task {
  flex: 7;
  padding-bottom: 5px;
}
.todo-list .task-container .new-task .add-new-task #task-input {
  border: none;
  outline: none;
  background-color: inherit;
  height: 100%;
  width: 90%;
}
.todo-list .task-container .new-task .submit-button {
  flex: 1;
  background-color: blue;
  border: none;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  padding-top: 5px;
}
.todo-list .task-container .new-task .submit-button #arrow-icon {
  color: white;
  padding-left: 9px;
  height: 100%;
}

/*# sourceMappingURL=styles.css.map */
